<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>브랜드 추가</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1 id="form-title" class="mt-5">브랜드 추가</h1>
    <form id="brand-form" class="mt-3">
        <input type="hidden" id="brand-id" />
        <div class="form-group">
            <label for="brand">브랜드명</label>
            <input type="text" id="brand" name="brand" class="form-control" required />
        </div>
        <div>
            <button type="submit" id="submit-button" class="btn btn-primary">Create</button>
        </div>
    </form>
    <script>
        $("#brand-form").submit(function(e) {
            e.preventDefault();
            $.ajax({
                url: "/admin/brand",
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    name: $("#brand").val(),
                }),
                success: function() {
                    alert('브랜드가 추가되었습니다.');
                    window.location.href = "/";
                },
                error: function(error) {
                    alert(error.responseJSON.exceptionMessage);
                }
            });
        });
    </script>
</div>
</body>
</html>
